@font-face {
    font-family: 'Kouzan';
    src: url('https://muchkanensys.github.io/neko/KouzanMouhituFontOTF.woff2') format('woff2'),
         url('https://muchkanensys.github.io/neko/KouzanMouhituFontOTF.woff') format('woff2');
    font-display: swap;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #222222;
    margin: 0;
    font-family: 'Kouzan', sans-serif;
    position: relative;
    overflow: hidden;
}

#kanban-container {
    position: absolute;
    width: 100%;
    height: 100%;
    animation: squiggly-anim 0.3s linear infinite;
}

.kanban {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px;
    font-size: 1.5em;
    text-align: center;
    border: 2px solid white;
    box-sizing: border-box;
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-family: 'Kouzan', sans-serif;
    position: absolute;
    overflow: hidden;
    backdrop-filter: blur(2px);
    filter: url('#squiggly-0'); /* 初期フィルターを設定 */
    transform: translate(-50%, -50%) rotate(-2deg);
    animation: squiggly-anim 0.3s linear infinite;
    width: auto;
    height: auto;
    max-width: 20%;
    max-height: 80%;
    top: 50%;
    left: 50%;
}

.kanban::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('https://www.transparenttextures.com/patterns/asfalt-dark.png');
    opacity: 0.2;
    pointer-events: none;

}

.highlight {
    color: yellow;
}

.neko {
    writing-mode: horizontal-tb;
    display: inline-block;
    animation: noise-animation 0.5s infinite;
}

@keyframes squiggly-anim {
    0% {
        filter: url('#squiggly-0');
    }
    25% {
        filter: url('#squiggly-1');
    }
    50% {
        filter: url('#squiggly-2');
    }
    75% {
        filter: url('#squiggly-3');
    }
    100% {
        filter: url('#squiggly-4');
    }
}

.flash {
    animation: flash 0.03s infinite;
}

@keyframes flash {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0.8;
    }
}

@keyframes noise-animation {
    0% {
        clip-path: inset(93px 0 21px 0);
    }
    5% {
        clip-path: inset(91px 0 23px 0);
    }
    10% {
        clip-path: inset(89px 0 25px 0);
    }
    15% {
        clip-path: inset(93px 0 21px 0);
    }
    20% {
        clip-path: inset(58px 0 56px 0);
    }
    25% {
        clip-path: inset(56px 0 54px 0);
    }
    30% {
        clip-path: inset(60px 0 54px 0);
    }
    35% {
        clip-path: inset(56px 0 54px 0);
    }
    40% {
        clip-path: inset(93px 0 21px 0);
    }
    45% {
        clip-path: inset(91px 0 23px 0);
    }
    50% {
        clip-path: inset(89px 0 25px 0);
    }
    55% {
        clip-path: inset(93px 0 21px 0);
    }
    60% {
        clip-path: inset(55px 0 59px 0);
    }
    65% {
        clip-path: inset(25px 0 90px 0);
    }
    70% {
        clip-path: inset(28px 0 88px 0);
    }
    75% {
        clip-path: inset(32px 0 84px 0);
    }
    80% {
        clip-path: inset(35px 0 81px 0);
    }
    85% {
        clip-path: inset(93px 0 21px 0);
    }
    90% {
        clip-path: inset(89px 0 25px 0);
    }
    95% {
        clip-path: inset(82px 0 32px 0);
    }
    100% {
        clip-path: inset(87px 0 27px 0);
    }
}
